<h1>Add New Post</h1>
<p>
	<form action="/new" method="POST" role="form">
		<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Enter your post text"></textarea>
		<br/>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>
